@using Time.Series.Anomaly.Detection.Data.Models;
@model MonitorSeries
@{
    ViewData["Title"] = "Preview " + Model.Name;
}

@section Scripts{
    <script type="text/javascript">
        const monitorSeriesId = @Model.ID;
    </script>
    <script src="~/js/monitor-series-preview.js" asp-append-version="true"></script>
}

<div>
    <h4>
        Preview
        <small class="text-muted">@Model.Name</small>
    </h4>
</div>
<div>
    <h5>
        Query
        <small class="text-muted">@Model.Query</small>
    </h5>
</div>

<div id="canvas-wrapper-single-@Model.ID"></div>